@font-face {
  font-family: 'Courier_Prime_Code';
  src: url(fonts/Courier_Prime_Code.ttf);
}

* {
  font-family: 'Courier_Prime_Code', Courier, monospace;
}

h1 {
  font-family: 'Courier_Prime_Code', courier, monospace;
}

body {
  font-family: 'Courier_Prime_Code', courier, monospace;
}

a {
  font-family: 'Courier_Prime_Code', courier, monospace;
}